.env
__pycache__/
*.pyc
*.egg-info/
build/
dist/
.DS_Store
google-sheets/node_modules
google-sheets/previews/
google-sheets/previews-pt/
google-sheets/**/.clasp.json
!google-sheets/dist/
google-sheets/dist/*
!google-sheets/dist/*.xlsx
